#side-box{
    background-color: black;
    width: 500px;
    height: 2000px;
    position: fixed;
  }
  #logo{
    height: 80px;
    width: 300px;
    margin-left: 10%;
    margin-top: 10%;  
  }
  #home{
    height: 40px;
    width: 40px;
    margin-top: 20%;
    margin-right: 30%;
  }
  div{
    background-color: rgb(66, 62, 62);
    height: 2000px;
    width: 4000px;
    position: fixed;
  }
  #search{
    height: 40px;
    width: 40px;
  }
  #library{
    height: 40px;
    width: 40px;
  }
 
